<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>アーラン</string>
<key>shortcut</key>
<string>あーらん</string>
</dict>
<dict>
<key>phrase</key>
<string>アスター</string>
<key>shortcut</key>
<string>あすたー</string>
</dict>
<dict>
<key>phrase</key>
<string>ヴェルト</string>
<key>shortcut</key>
<string>ゔぇると</string>
</dict>
<dict>
<key>phrase</key>
<string>カフカ</string>
<key>shortcut</key>
<string>かふか</string>
</dict>
<dict>
<key>phrase</key>
<string>クラーラ</string>
<key>shortcut</key>
<string>くらーら</string>
</dict>
<dict>
<key>phrase</key>
<string>スヴァローグ</string>
<key>shortcut</key>
<string>すゔぁろーぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>サンポ</string>
<key>shortcut</key>
<string>さんぽ</string>
</dict>
<dict>
<key>phrase</key>
<string>ジェパード</string>
<key>shortcut</key>
<string>じぇぱーど</string>
</dict>
<dict>
<key>phrase</key>
<string>セーバル</string>
<key>shortcut</key>
<string>せーばる</string>
</dict>
<dict>
<key>phrase</key>
<string>ナターシャ</string>
<key>shortcut</key>
<string>なたーしゃ</string>
</dict>
<dict>
<key>phrase</key>
<string>フック</string>
<key>shortcut</key>
<string>ふっく</string>
</dict>
<dict>
<key>phrase</key>
<string>ブローニャ</string>
<key>shortcut</key>
<string>ぶろーにゃ</string>
</dict>
<dict>
<key>phrase</key>
<string>ペラ</string>
<key>shortcut</key>
<string>ぺら</string>
</dict>
<dict>
<key>phrase</key>
<string>ヘルタ</string>
<key>shortcut</key>
<string>へるた</string>
</dict>
<dict>
<key>phrase</key>
<string>ルカ</string>
<key>shortcut</key>
<string>るか</string>
</dict>
<dict>
<key>phrase</key>
<string>リンクス</string>
<key>shortcut</key>
<string>りんくす</string>
</dict>
<dict>
<key>phrase</key>
<string>三月なのか</string>
<key>shortcut</key>
<string>みつきなのか</string>
</dict>
<dict>
<key>phrase</key>
<string>丹恒</string>
<key>shortcut</key>
<string>たんこう</string>
</dict>
<dict>
<key>phrase</key>
<string>停雲</string>
<key>shortcut</key>
<string>ていうん</string>
</dict>
<dict>
<key>phrase</key>
<string>刃</string>
<key>shortcut</key>
<string>じん</string>
</dict>
<dict>
<key>phrase</key>
<string>姫子</string>
<key>shortcut</key>
<string>ひめこ</string>
</dict>
<dict>
<key>phrase</key>
<string>彦卿</string>
<key>shortcut</key>
<string>げんきょう</string>
</dict>
<dict>
<key>phrase</key>
<string>御空</string>
<key>shortcut</key>
<string>ぎょくう</string>
</dict>
<dict>
<key>phrase</key>
<string>景元</string>
<key>shortcut</key>
<string>けいげん</string>
</dict>
<dict>
<key>phrase</key>
<string>白露</string>
<key>shortcut</key>
<string>びゃくろ</string>
</dict>
<dict>
<key>phrase</key>
<string>符玄</string>
<key>shortcut</key>
<string>ふげん</string>
</dict>
<dict>
<key>phrase</key>
<string>素裳</string>
<key>shortcut</key>
<string>すしょう</string>
</dict>
<dict>
<key>phrase</key>
<string>羅刹</string>
<key>shortcut</key>
<string>らせつ</string>
</dict>
<dict>
<key>phrase</key>
<string>銀狼</string>
<key>shortcut</key>
<string>ぎんろう</string>
</dict>
<dict>
<key>phrase</key>
<string>青雀</string>
<key>shortcut</key>
<string>せいじゃく</string>
</dict>
<dict>
<key>phrase</key>
<string>飲月</string>
<key>shortcut</key>
<string>いんげつ</string>
</dict>
<dict>
<key>phrase</key>
<string>鏡流</string>
<key>shortcut</key>
<string>けいりゅう</string>
</dict>
<dict>
<key>phrase</key>
<string>トパーズ</string>
<key>shortcut</key>
<string>とぱーず</string>
</dict>
<dict>
<key>phrase</key>
<string>桂乃芬</string>
<key>shortcut</key>
<string>けいないふん</string>
</dict>
<dict>
<key>phrase</key>
<string>雪衣</string>
<key>shortcut</key>
<string>せつい</string>
</dict>
<dict>
<key>phrase</key>
<string>寒鴉</string>
<key>shortcut</key>
<string>かんあ</string>
</dict>
<dict>
<key>phrase</key>
<string>フォフォ</string>
<key>shortcut</key>
<string>ふぉふぉ</string>
</dict>
<dict>
<key>phrase</key>
<string>アルジェンティ</string>
<key>shortcut</key>
<string>あるじぇんてぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>Dr.レイシオ</string>
<key>shortcut</key>
<string>どくたーれいしお</string>
</dict>
<dict>
<key>phrase</key>
<string>ブラックスワン</string>
<key>shortcut</key>
<string>ぶらっくすわん</string>
</dict>
<dict>
<key>phrase</key>
<string>ミーシャ</string>
<key>shortcut</key>
<string>みーしゃ</string>
</dict>
<dict>
<key>phrase</key>
<string>花火</string>
<key>shortcut</key>
<string>はなび</string>
</dict>
<dict>
<key>phrase</key>
<string>ヴェルト・ヨウ</string>
<key>shortcut</key>
<string>ゔぇるとよう</string>
</dict>
<dict>
<key>phrase</key>
<string>サンポ・コースキ</string>
<key>shortcut</key>
<string>さんぽこーすき</string>
</dict>
<dict>
<key>phrase</key>
<string>ジェパード・ランドゥ</string>
<key>shortcut</key>
<string>じぇぱーどらんどぅ</string>
</dict>
<dict>
<key>phrase</key>
<string>セーバル・ランドゥ</string>
<key>shortcut</key>
<string>せーばるらんどぅ</string>
</dict>
<dict>
<key>phrase</key>
<string>ブローニャ・ランド</string>
<key>shortcut</key>
<string>ぶろーにゃらんど</string>
</dict>
<dict>
<key>phrase</key>
<string>李素裳</string>
<key>shortcut</key>
<string>りすしょう</string>
</dict>
<dict>
<key>phrase</key>
<string>ベリタス・レイシオ</string>
<key>shortcut</key>
<string>べりたすれいしお</string>
</dict>
<dict>
<key>phrase</key>
<string>星神</string>
<key>shortcut</key>
<string>あいおーん</string>
</dict>
<dict>
<key>phrase</key>
<string>虚数の樹</string>
<key>shortcut</key>
<string>きょすうのき</string>
</dict>
<dict>
<key>phrase</key>
<string>万界の癌</string>
<key>shortcut</key>
<string>ばんかいのがん</string>
</dict>
<dict>
<key>phrase</key>
<string>星核</string>
<key>shortcut</key>
<string>せいかく</string>
</dict>
<dict>
<key>phrase</key>
<string>裂界</string>
<key>shortcut</key>
<string>れっかい</string>
</dict>
<dict>
<key>phrase</key>
<string>神策将軍</string>
<key>shortcut</key>
<string>しんさくしょうぐん</string>
</dict>
<dict>
<key>phrase</key>
<string>無眼将軍</string>
<key>shortcut</key>
<string>むがんしょうぐん</string>
</dict>
<dict>
<key>phrase</key>
<string>太卜</string>
<key>shortcut</key>
<string>たいぼく</string>
</dict>
<dict>
<key>phrase</key>
<string>卜者</string>
<key>shortcut</key>
<string>ぼくしゃ</string>
</dict>
<dict>
<key>phrase</key>
<string>雲騎軍</string>
<key>shortcut</key>
<string>うんきぐん</string>
</dict>
<dict>
<key>phrase</key>
<string>太卜司</string>
<key>shortcut</key>
<string>たいぼくし</string>
</dict>
<dict>
<key>phrase</key>
<string>地衡司</string>
<key>shortcut</key>
<string>ちこうし</string>
</dict>
<dict>
<key>phrase</key>
<string>丹鼎司</string>
<key>shortcut</key>
<string>たんていし</string>
</dict>
<dict>
<key>phrase</key>
<string>狐族</string>
<key>shortcut</key>
<string>こぞく</string>
</dict>
<dict>
<key>phrase</key>
<string>持明族</string>
<key>shortcut</key>
<string>じみょうぞく</string>
</dict>
<dict>
<key>phrase</key>
<string>宇宙ステーション「ヘルタ」</string>
<key>shortcut</key>
<string>うちゅうすてーしょんへるた</string>
</dict>
<dict>
<key>phrase</key>
<string>ヤリーロ-VI</string>
<key>shortcut</key>
<string>やりーろ6</string>
</dict>
<dict>
<key>phrase</key>
<string>ヤリーロ-VI</string>
<key>shortcut</key>
<string>やリーろしっくす</string>
</dict>
<dict>
<key>phrase</key>
<string>仙舟</string>
<key>shortcut</key>
<string>せんしゅう</string>
</dict>
<dict>
<key>phrase</key>
<string>羅浮</string>
<key>shortcut</key>
<string>らふ</string>
</dict>
<dict>
<key>phrase</key>
<string>ピノコニー</string>
<key>shortcut</key>
<string>ぴのこにー</string>
</dict>
<dict>
<key>phrase</key>
<string>テルミヌス</string>
<key>shortcut</key>
<string>てるみぬす</string>
</dict>
<dict>
<key>phrase</key>
<string>龍</string>
<key>shortcut</key>
<string>りゅう</string>
</dict>
<dict>
<key>phrase</key>
<string>ウロボロス</string>
<key>shortcut</key>
<string>うろぼろす</string>
</dict>
<dict>
<key>phrase</key>
<string>アキヴィリ</string>
<key>shortcut</key>
<string>あきゔぃり</string>
</dict>
<dict>
<key>phrase</key>
<string>ヌース</string>
<key>shortcut</key>
<string>ぬーす</string>
</dict>
<dict>
<key>phrase</key>
<string>シペ</string>
<key>shortcut</key>
<string>しぺ</string>
</dict>
<dict>
<key>phrase</key>
<string>イドリラ</string>
<key>shortcut</key>
<string>いどりら</string>
</dict>
<dict>
<key>phrase</key>
<string>タイズルス</string>
<key>shortcut</key>
<string>たいずるす</string>
</dict>
<dict>
<key>phrase</key>
<string>ミュトゥス</string>
<key>shortcut</key>
<string>みゅとぅす</string>
</dict>
<dict>
<key>phrase</key>
<string>互</string>
<key>shortcut</key>
<string>ふー</string>
</dict>
<dict>
<key>phrase</key>
<string>クリフォト</string>
<key>shortcut</key>
<string>くりふぉと</string>
</dict>
<dict>
<key>phrase</key>
<string>浮黎</string>
<key>shortcut</key>
<string>ふり</string>
</dict>
<dict>
<key>phrase</key>
<string>IX</string>
<key>shortcut</key>
<string>ないん</string>
</dict>
<dict>
<key>phrase</key>
<string>薬師</string>
<key>shortcut</key>
<string>やくし</string>
</dict>
<dict>
<key>phrase</key>
<string>嵐</string>
<key>shortcut</key>
<string>らん</string>
</dict>
<dict>
<key>phrase</key>
<string>ナヌーク</string>
<key>shortcut</key>
<string>なぬーく</string>
</dict>
<dict>
<key>phrase</key>
<string>アッハ</string>
<key>shortcut</key>
<string>あっは</string>
</dict>
<dict>
<key>phrase</key>
<string>存護</string>
<key>shortcut</key>
<string>そんご</string>
</dict>
<dict>
<key>phrase</key>
<string>豊穣</string>
<key>shortcut</key>
<string>ほうじょう</string>
</dict>
<dict>
<key>phrase</key>
<string>調和</string>
<key>shortcut</key>
<string>ちょうわ</string>
</dict>
<dict>
<key>phrase</key>
<string>虚無</string>
<key>shortcut</key>
<string>きょむ</string>
</dict>
<dict>
<key>phrase</key>
<string>巡狩</string>
<key>shortcut</key>
<string>じゅんしゅ</string>
</dict>
<dict>
<key>phrase</key>
<string>知恵</string>
<key>shortcut</key>
<string>ちえ</string>
</dict>
<dict>
<key>phrase</key>
<string>壊滅</string>
<key>shortcut</key>
<string>かいめつ</string>
</dict>
<dict>
<key>phrase</key>
<string>模擬宇宙</string>
<key>shortcut</key>
<string>もぎうちゅう</string>
</dict>
<dict>
<key>phrase</key>
<string>疑似花萼</string>
<key>shortcut</key>
<string>ぎじかがく</string>
</dict>
<dict>
<key>phrase</key>
<string>凝結虚影</string>
<key>shortcut</key>
<string>ぎょうけつきょえい</string>
</dict>
<dict>
<key>phrase</key>
<string>侵蝕トンネル</string>
<key>shortcut</key>
<string>しんしょくとんねる</string>
</dict>
<dict>
<key>phrase</key>
<string>歴戦余韻</string>
<key>shortcut</key>
<string>れきせんよいん</string>
</dict>
<dict>
<key>phrase</key>
<string>忘却の庭</string>
<key>shortcut</key>
<string>ぼうきゃくのにわ</string>
</dict>
<dict>
<key>phrase</key>
<string>混沌の庭</string>
<key>shortcut</key>
<string>こんとんのにわ</string>
</dict>
<dict>
<key>phrase</key>
<string>虚構叙事</string>
<key>shortcut</key>
<string>きょこうじょじ</string>
</dict>
<dict>
<key>phrase</key>
<string>宇宙の蝗害</string>
<key>shortcut</key>
<string>うちゅうのこうがい</string>
</dict>
<dict>
<key>phrase</key>
<string>黄金と機械</string>
<key>shortcut</key>
<string>おうごんときかい</string>
</dict>
<dict>
<key>phrase</key>
<string>光円錐</string>
<key>shortcut</key>
<string>こうえんすい</string>
</dict>
<dict>
<key>phrase</key>
<string>遺物</string>
<key>shortcut</key>
<string>いぶつ</string>
</dict>
<dict>
<key>phrase</key>
<string>往日の夢華</string>
<key>shortcut</key>
<string>おうじつのむか</string>
</dict>
<dict>
<key>phrase</key>
<string>星玉</string>
<key>shortcut</key>
<string>せいぎょく</string>
</dict>
<dict>
<key>phrase</key>
<string>殞落</string>
<key>shortcut</key>
<string>うんらく</string>
</dict>
</array></plist>
